@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:'Zen Dots', cursive, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width:550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div {
    display: flex;
    height: 170px;
    width: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    color:rgb(255, 208, 228) ;
    background: rgb(220, 61, 91);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}